torch
torchvision
uvicorn
mlflow
evidently
crewai
scikit-learn
opencv-python
matplotlib
streamlit==1.31.0
tensorflow==2.15.0
pillow==10.2.0
plotly==5.18.0
pandas==2.1.4
numpy==1.26.3
langchain==0.1.0
sentence-transformers==2.3.1
faiss-cpu==1.7.4
huggingface-hub==0.20.2